body {
    background-color: rgb(120, 110, 186);
    font-family: Arial, Helvetica, sans-serif;
    color: darkorange;
}

h2{
    text-transform:uppercase;
    color: darkorange;
    text-align: center;
}

div {
    color: rgb(255, 255, 255);
}
legend {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}